body {
  background-color: #b0e0e6;
}
.p-1,
.p-3 {
  background-color: #fffca5;
}

h2 {
  color: purple;
}

.li-one {
  color: purple;
  text-decoration: overline;
}

li a [href="https://www.google.com/"]
{
  color: blue;
  text-decoration: underline;
}
#text-area-1 {
  height: 400px;
  width: 800px;
  border: 5px solid grey;
}
.blue-div {
  background-color: blue;
  border: 4px dashed yellow;
}
